/* Header */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
  }

html {
    font-size: 62.5%;
}

html, 
body{
    height: 100vh;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem; 
}

body .top-line {
    background-color: #ED5900;
    height: .5rem;
    width: 100%;
}

Header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    max-width: 1200px;

    margin: auto;
}

header img {
    width: 220px;
    padding: 35px 0;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    color: #ED5900; 
    padding: .5rem;
    text-decoration: none;
}

/* Separator Image */
.separator-image { 
    height: 11rem;
}

.separator-image img{
    width: 100%;  
    height: 130%;
    object-fit: cover;
}

/* Container */
.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.ebook {
    margin-left: 3rem;
}

h1 {
    font-family: 'HelveticaNeue-Medium', 'Arial', sans-serif;
    color: #ED5900;
    font-size: 3.3rem;
    line-height: 4.5rem;    
 
    max-width: 53%;
    float: left;
    padding-top: 10rem;
    text-align: left;
}

.separator {
    height: 1px;
    background-color: #dad8d869;
    width: 93%;
    margin-top: -8rem;
}

h2 {
    font-family: 'HelveticaNeue-Medium', 'Arial', sans-serif;
    color: #b1b1b1;
    font-size: 2.2rem;
    line-height: 3rem;

    margin-top: 3rem;
    max-width: 50%;
}

p, a .wrapper{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

p {
    color: #4f4f51;
    margin: 4rem 0 0 0;
    max-width: 93%
}

p a   {
    color:#ED5900;
}

.emphasizes{
    font-family: 'HelveticaNeue-Bold', 'Arial', sans-serif;
    color:#ED5900;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;

    text-align: center;
    margin: 8rem 0 6rem;
}

/* Form */
aside {
    width: 100%;
    margin: 10rem 0 19rem;
    background-color: #ECECEC;
}
h3{
    font-family: 'HelveticaNeue-Medium', 'Arial', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #ED5900;
    text-align: center;
    margin: 1rem;
}

fieldset{
    border: none;
    display: grid;
}

fieldset input {
    font-size: 1.6rem;
    margin: 1rem 0 1rem;
    padding: 1rem;
    outline: none;
    border: 1px solid #cacaca;
}

input::placeholder{
    color: #4F4F51;
    font-weight: bold;
    opacity: 30%;
    font-family: 'HelveticaNeue','Arial', sans-serif;
}

form{
    padding: 1.8rem;
}

label{
    font-family: 'HelveticaNeue','Arial', sans-serif;   
    font-size: 1.4rem;
}
label a {
    text-decoration: none;
    color: #ED5900;
    font-size: 1.4rem;
}

button{
    margin-top: 1.5rem;
    width: 100%;
    padding: 15px;
    font-family: 'HelveticaNeue-Medium', 'Arial', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: #ED5900;
    color: white;
    font-weight: bold;
    border: none;
}

/* Footer */

footer {
    
    background-color: #4F4F51;
}
footer .footer-frame {
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
footer div nav {
    display: flex;
}
footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
    margin: 1rem;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-family: 'HelveticaNeue','Arial', sans-serif;   
    font-size: 1.3rem;
}

small{ 
    color: white;
    font-family: 'HelveticaNeue','Arial', sans-serif;   
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    margin-right: 1rem;
}

.linea-vertical {
    border-left: 2px solid;
    box-sizing: border-box;
    margin: 1.3rem 1rem 0 1rem;
    height: 1.3rem;
    color: #767676;
    opacity: 70%;
}

/*PopUp*/
div .popup {
    position: relative;
    display: flex;
 }
  
.popup .popuptext {
    font-family: 'HelveticaNeue','Arial', sans-serif;   
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    visibility: hidden;
    width: 160px;
    background-color: #ED5900;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ED5900 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; 
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
} 